//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.page-home {
  background-color: #000;

  .hero {
    position: fixed;
    top: 109px;
    right: 0;
    left: 0;
    margin-top: 0;
    padding: 155px 0 110px;

    .custom-slider-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .custom-slider {
      width: 100%;
      height: 100%;
    }

    .slick-slide > div {
      height: 100%;
    }

    .slick-list,
    .slick-track,
    .slide-item {
      height: 100%;
    }

    .slide-item {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .hero-background {
      display: none;
    }

    .container {
      position: relative;
      z-index: 2;
    }

    .wrapper {
      width: 100%;
      max-width: 600px;
      color: #fff;

      .heading {
        margin: 0 0 32px;
        padding: 0;
        font-family: $font-gotham-bold;
        font-weight: 700;
        line-height: 1;
        font-size: 45px;
        text-transform: uppercase;
        text-shadow: 0 2px 4px #000;
      }

      .subheading {
        margin: 0 0 32px;
        font-family: $font-libre-baskerville-italic;
        font-weight: normal;
        font-size: 28px;
        text-shadow: 0 2px 4px #000;
      }

      p {
        font-size: 15px;
      }
    }

    .button-holder {
      margin-top: 22px;

      .btn-brown {
        padding: 22px 30px;
        width: fit-content;
      }
    }
  }

  .featured {
    position: relative;
    padding: 180px 0 150px;
    color: #fff;
    background: url(../assets/images/bg-home-featured.jpg) repeat-y;
    background-size: cover;
    background-repeat: repeat-y;
    
    .button-top {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;
      display: flex;
      justify-content: center;
      transform: translate(-50%, -50%);

      .button-wrapper {
        position: relative;
        padding: 18px 25px;
        background-color: #fff;
        box-shadow: 0 2px 7px 0 rgba(0,0,0,.5);

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          display: block;
          width: 12px;
        }

        &:before {
          content: "";
          background: url(../assets/images/torn-left.png) repeat-y right;
          left: -10px;
        }

        &:after {
          content: "";
          background: url(../assets/images/torn-right.png) repeat-y left;
          right: -10px;
        }
      }

      .btn-brown {
        padding: 22px 30px;
        width: fit-content;
      }
    }

    h2 {
      font-family: $font-gotham-bold;
      font-style: normal;
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .items {
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;

      img {
        max-width: 100%;
      }
    }

    .featured-image {
      img {
        width: 100%;
      }
    }
  }

  .products {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 145px;
      background: linear-gradient(to top, #000, transparent);
    }

    img {
      max-width: 100%;
    }
  }

  .product-range {
    position: relative;
    color: #fff;
    background-color: #000;

    .heading {
      margin: auto;
      font-family: $font-gotham-bold;
      font-style: normal;
      font-size: 45px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .items {
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1439px) {
    .hero {
      padding: 160px 0 125px;
    }
  }

  @media (max-width: 1199px) {
    .hero {
      top: 68px;
      padding: 120px 0 80px;

      .wrapper {
        max-width: 50%;

        .heading {
          font-size: 34px;
        }
  
        .subheading {
          font-size: 22px;
        }
      }
    }    
  }

  @media (max-width: 991px) {
    .hero {
      top: 67px;
      padding: 80px 0 70px;

      .button-holder .btn-brown {
        padding: 16px 26px;
      }

      .wrapper {
        max-width: 50%;

        .heading {
          font-size: 28px;
        }
  
        .subheading {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }
      }
    }    
  }

  @media (max-width: 767px) {
    .hero {
      .custom-slider-wrapper {
        display: none;
      }

      .hero-background {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
      }

      .wrapper {
        max-width: 100%;

        .heading {
          max-width: 340px;
        }
      }
    }
  }

  @media (max-width: 575px) {
    
  }
}