//main: ../main.scss

// -------------------------------------------------------------------------------------------
// This file contains styles that are specific to the news page.
// -------------------------------------------------------------------------------------------

.news.content {
    background-repeat: repeat;
    background-position: left top;
    
    .masonry {
        padding: 30px;
    }

    @media (max-width: 1199px) {
        .masonry {
            padding: 30px 0;
        }
    }
}